*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414; 
    font-family: sans-serif;
}

.container{
    width: 100%;
    overflow: hidden;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .logo{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: normal;
}

.logo a span{
    color: #e50914;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f3f3f3;
}

.navbar .logo a:hover{
    color: #f3f3f3;
    text-shadow: 0 0 15px rgba(229, 9, 20, 0.8);
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    margin-top: 30px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 13px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.navbar ul li a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: #e50914;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.search-box{
    float: right;
    margin-top: 28px;
    margin-right: 20px;
}

.search-box input{
    padding: 8px;
    width: 275px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    border-radius: 5px;
    outline: none;
}

.search-box button{
    padding: 8px 15px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.search-box button:hover{
    background-color: #e50914;
    color: white;
}

.hero{
    clear: both;
    height: 410px;
    background-image: 
        linear-gradient(to top, #141414 0%, rgba(20, 20, 20, 0) 20%), /* en alt noktada siyah, resmin %20'sine geldiğinde şeffafsın */
        linear-gradient(to right, rgba(0,0,0, 0.9), rgba(0,0,0, 0.1)),
        url(resimler/avengersBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 150px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
}

.hero .hero-text {
    float: left; 
    width: 60%; 
}

.hero h1{
    font-size: 60px;
    font-family: 'Arial Black', sans-serif; 
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 0 0 10px rgba(229, 9, 20, 0.7);
}

.hero p{
    font-size: 18px;
    line-height: 1.5;
    color: #ddd;
}

.hero .fragmanbutton{
    float: right;
    width: 30%;
    text-align: right;
    margin-top: 20px;
}

.hero .fragmanbutton a{
    display: inline-block; 
    padding: 15px 30px; 
    font-size: 18px;
    font-family: sans-serif; 
    font-weight: bold; 
    color: white; 
    background-color: #e50914;
    text-decoration: none;
    border-radius: 50px; 
    box-shadow: 0 5px 15px rgba(229, 9, 20, 0.4); 
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.hero .fragmanbutton a:hover {
    background-color: white; 
    color: #e50914; 
    transform: scale(1.05); 
}

.icerik-alani {
    width: 100%;
    overflow: auto; /* İçindeki float'lı elemanlar taşmasın diye */
    padding: 50px 80px;
}

.filmler{
    width: 70%;
    float: left;
}

.icerik-alani h2, .icerik-alani h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 5px solid #e50914;
    padding-left: 15px;
    margin-top: 0; 
    margin-bottom: 25px;
}

.icerik-alani h3 {
    font-size: 20px;
}

.film-kart {
    float: left; /* Yan yana gelmeleri için */
    width: 30%;  /* 3 tane sığması için %30 (Toplam %90 eder) */
    height: 450px;
    background-color: #222;
    border-radius: 15px;
    margin-top: 15px;
    margin-right: 3%; 
    margin-bottom: 30px; 
    padding: 15px;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); 
}

.film-kart img{
    width: 100%;
    border-radius: 15px;
}

.film-kart h4 {
    margin-top: 15px;
    color: white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

.film-kart:nth-of-type(3n){
    margin-right: 0;
}

.icerik-alani .yan-menu{
    width: 25%;
    float: right;
}

.icerik-alani .yan-menu h3{
    color: white;
    margin-top: 15px;
}

/* --- Taranmasını istemediğimiz alanlar --- */
.navbar, .logo, .yan-menu h3, .icerik-alani h2, button, .fragmanbutton a, .search-box button{
    -webkit-user-select: none; /* Chrome/Safari için */
    -moz-user-select: none;    /* Firefox için */
    -ms-user-select: none;     /* Internet Explorer/Edge için */
    user-select: none;         /* Standart */
}

.navbar, .logo, .yan-menu h3, .icerik-alani h2 {
    cursor: default;           /* Üzerine gelince normal ok çıksın */
}