*{
    margin: 0;
    padding: 0;
}

.container{
    background: linear-gradient(to right, rgb(115, 0, 255), rgb(255, 0, 111));
    min-height: 100vh;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: rgba(224 ,224,224,0.5)
}

.navbar .logo{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f3f3f3;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    margin-top: 30px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 13px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: rgb(115, 0, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

